@font-face {
    font-family: 'Myriad Pro Semi Extended';
    src: url('fontes/myriad-pro-semi-extended.woff2') format('woff2'),
        url('fontes/myriad-pro-semi-extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --roxo-claro: rgba(197, 157, 255, 1);
    --roxo-escuro: rgba(84, 36, 187, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Estilo Header */

body {
    height: 100vh;
    background-size: cover;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 15%;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    font-size: 25px;
    font-family: 'Myriad Pro Semi Extended', sans-serif;
    color: white;
    transition: width 0.5s ease-in-out;
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background-color: var(--roxo-claro);
    transition: width 0.4s ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

header img {
    height: 100%;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
}

.button-login {
    height: 60px;
}

.header-border {
    height: 0.7%;
    background: linear-gradient(90deg, var(--roxo-claro) 0%, var(--roxo-escuro) 45%, rgba(0, 0, 0, 1) 100%);
}

/* Estilo Banner */

.banner {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo Login e Cadastro*/

.login-cadastro {
    height: 100vh;
    background-image: url(../assets/imgs/fundoLogin.jpeg);
    background-size: cover;
}

.login-cadastro main {
    display: flex;
    height: 83%;
}

.login-cadastro .divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.login-cadastro .divisao .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 60%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px 0;
}

.login-cadastro .divisao .formulario input {
    background-color: transparent;
    border: solid transparent;
    border-bottom: solid 3px rgba(0, 0, 0, 0.452);
    color: rgba(0, 0, 0, 0.458);
    height: 15%;
    min-height: 55px;
    width: 80%;
    font-size: 23px;
    padding: 0 0 0 25px;
    margin: 5px 0 10px 0;
    transition: 0.6s ease;
}

.login-cadastro .divisao .formulario input:hover {
    border-bottom: solid 3px var(--roxo-claro);
    transition: 0.6s ease;
}

.login-cadastro .divisao .formulario input::placeholder {
    color: black;
    transition: 0.6s ease;
}

.login-cadastro .divisao .formulario input:hover::placeholder {
    color: var(--roxo-claro);
    transition: 0.6s ease;
}

.login-cadastro .divisao button {
    background: linear-gradient(90deg, var(--roxo-claro) 0%, var(--roxo-escuro) 50%, rgba(0, 0, 0, 1) 100%);
    background-position: left;
    background-size: 200% 100%;
    border: none;
    border-radius: 10px;
    color: white;
    height: 15%;
    min-height: 50px;
    max-height: 50px;
    width: 25%;
    min-width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.9s ease;
}

.login-cadastro .divisao a button {
    height: 100%;
    width: 25%;
    min-width: 200px;
}

.login-cadastro .divisao button:hover {
    background-position: right;
    border: solid 1px white;
    transition: 0.7s ease-in-out;
}

.login-cadastro .divisao .centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    color: white;
    font-size: 40px;
}

.login-cadastro .divisao .centro h6 {
    margin: 110px 0 0 0;
}

.login-cadastro .divisao .centro h5 {
    margin: 15px 0 0 0;
}

/* Resposividade */
@media (max-width: 600px) {
    header {
        display: none;
    }

    .login-cadastro {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/imgs/fundoLoginMobile.png);
    }

    .login-cadastro main {
        display: block;
    }

    .login-cadastro .divisao {
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .login-cadastro .divisao .formulario {
        min-height: 240px;
        min-width: 300px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20px;
        padding: 20px;
    }

    .login-cadastro .divisao .formulario input {
        min-height: 40px;
        width: 92%;
        font-size: 18px;
        margin: 5px 0 10px 0;
        padding: 0 0 0 5%;
    }

    .login-cadastro .divisao .formulario button {
        min-height: 50px;
    }

    .login-cadastro .divisao .centro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
    }

    .login-cadastro .divisao button {
        pointer-events: auto; /* Div da frente não bloquia o click*/
    }

    .login-cadastro .divisao .centro h1 {
        font-size: 42px;
    }

    .login-cadastro .divisao .centro h5 {
        font-size: 24px;
    }

    /*Estilo pagina-login*/

    .pagina-login .divisao .centro h6 {
        margin: 340px 0 0 0;
        font-size: 24px;
        bottom: 0;
    }

    .pagina-login .divisao .centro h1 {
        font-size: 40   px;
    }

     /*Estilo pagina-cadastro*/

    .pagina-cadastro .divisao .centro h6 {
        margin: 500px 0 0 0;
        font-size: 24px;
        bottom: 0;
    }
}